{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for message in app.flashes("message")%}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button</button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" </button>></div>
			{% endfor %}
    <h1>Votre profil {{ app.user.username }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.username,{label:"Nom d'utilisateur"})}}
        {{ form_row(form.email) }}
        <div class="update-password">
        <h3>Modifier mon mot de passe :</h3>
        </div>
        {{ form_row(form.password,{label:'Nouveau mot de passe'})}}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}
</div>
{% endblock %}
