{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('https://www.pourlesmusiciens.com/images/blog/main/1085-guitarlegend-01.jpg');">
    <form action='' method="POST">
    <div class="row align-items-center">
            <div class="col">
            <label for="search" class="form-label text-justify">Rechercher</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="ex: Piano">
            </div>
            <div class="col">
            <label for="category_select" class="form-label text-right">Rechercher par catégorie</label>
            <select name="category_select" id="category_select" class="form-control">

            <div class="dropdown-menu">
                <option class="dropdown-item">Sélectionnez une catégorie</option>
                {% for category in categories %}
                <option class="dropdown-item">{{ category.name }} </option>
                {% endfor %}
            </div>
        </select>
        </div>
        <div class="col">
        <input class="btn btn-primary" type="submit" value="Rechercher">
        </div>
    </form>
    </div>
</div>
</div>
{% if researchedAds != null %}
<div class="container">
    {% for researchedAd in researchedAds %}
    {% if researchedAd.isVisible == true %}
    <div class="row">
        <div class="col">
            <div class="card-deck text-white bg-secondary mb-3" style="width: 20%;">
                <div class="card-body">
                <a href="{{ path('app_ads_show', {'id': researchedAd.id}) }}"> <h5 class="card-title">{{ researchedAd.title }} </h5></a>
                   
                    <p class="card-text">{{ researchedAd.content }}</p>
                    {% for researchedImg in researchedAd.images|slice(0, 1) %}
                    <img class="card-img-top" src="/uploads/{{ researchedImg.imageName }}">
                    {% endfor %}
                    <button class="btn btn-primary disabled text-white" type="button"> {{ researchedAd.price }}€</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="container">
    <div class="row justify-content-md-center">
        {% for ad in ads %}
        {% if ad.isVisible == true %}
        <div class="card col col-lg-2" style="width: 20%;">
            <div class="card-body card text-white bg-secondary mb-3">
                <a href="{{ path('app_ads_view', {'id': ad.id}) }}"> <h5 class="card-title">{{ ad.title }} </h5></a>
                <p class="card-text">{{ ad.content }}</p>
                <button class="btn btn-sm btn-primary disabled text-white" type="button"> {{ ad.price }} €</button>
                {% for img in ad.images |slice(0,1)%}
                <img class="card-img-top" src="/uploads/{{ img.imageName }}">
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
</div>
{% endif %}
{% endblock %}