<div class="bg-secondary p-2" style="--bs-bg-opacity: .5;">
	<div class="form-control bg-secondary p-2" style="--bs-bg-opacity: .5;">
		{{ form_start(form) }}

		{{ form_widget(form) }}


		{% if app.request.attributes.get('_route')=='app_ads_edit' %}

			<h4>Images pour l'annonce</h4>
			{% for image in ad.images %}
				<figure class="figure d-flex justify-content">
					<img src="/uploads/{{ image.imageName }}" class="d-flex justify-content figure-img img-fluid rounded" alt="Image" width="200">
					<figcaption class="figure-caption">Sélectionner photos sur pc</figcaption>
					<a class="" href="/ads/delete/image/{{ image.id }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}">Supprimer Image</a>
				</figure>
			{% endfor %}
		{% endif %}

		<button type="submit" class="btn btn-primary">{{ button_label|default('Publier mon annonce') }}</button>

		{{ form_end(form) }}
	</div>
</div>
