{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class=" container bg-secondary p-2" style="--bs-bg-opacity: .5;">

		<h1 class="text-center">Modifier votre annonce</h1>

		{{ include('ads/_form.html.twig', {'button_label': 'Update'}) }}

		{% block javascripts %}
			<script src="{{ asset('js/images.js') }}"></script>
		{% endblock %}


		<a class="nav-link link-dark" href="{{ path('app_ads_index') }}">Cliquer pour revenir à la page précédente</a>

		{{ include('ads/_delete_form.html.twig') }}
	</div>
{% endblock %}
