{% extends 'base.html.twig' %}

{% block title %}Ads index
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Annonces</h1>

		<table class="table  bg-secondary p-2" style="--bs-bg-opacity: .5;">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Image</th>
					<th>Créer le</th>
					<th>Url_video</th>
					<th>Visibilité</th>
					<th>Catégorie</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for ad in ads %}
					<tr>
						<td>{{ ad.title }}</td>
						<td>{{ ad.content|length > 50 ? ad.content|slice(0,50) ~ '...' : ad.content }}</td>
						<td>
							{% for image in ad.images|slice(0,1) %}
								<img src="/uploads/{{ image.imageName }}" alt="Image" width="50">
							{% endfor %}
						</td>
						<td>{{ ad.createdAt ? ad.createdAt|date('Y-m-d') : '' }}</td>
						<td>{{ ad.urlVideo }}</td>
						<td>{{ ad.isVisible ? 'Yes' : 'No' }}</td>
						<td>{{ ad.categoryId }}</td>
						<td>
							<a class="nav-link link-dark" type="button" type="button" href="{{ path('app_ads_show', {'id': ad.id}) }}">Voir</a>

							<a class="nav-link link-dark" type="button" type="button" href="{{ path('app_ads_edit', {'id': ad.id}) }}">Éditer</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas d'annonce trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_ads_new') }}">Créer une annonce</a>
	</div>
{% endblock %}
