{% extends 'base.html.twig' %}

{% block title %}New Ads
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Create new Ads</h1>

		{{ include('ads/_form.html.twig') }}

		<a class="nav-link link-dark text-center" type="button" href="{{ path('app_ads_index') }}">Cliquer pour revenir à la page précédente</a>
	</div>


{% endblock %}
