{% extends 'base.html.twig' %}



{% block body %}


<div class="container bg-secondary p-2" style="--bs-bg-opacity: .5;">
    <h1 class="text-center">{{ ads.title }}</h1>
    <p class="text-center">{{ ads.content }}</p>

    {% for adImage in ads.images %}
    <div class="text-center">
    <img  src="/uploads/{{ adImage.imageName }}" style="width:30%;">
    </div>
    {% endfor %}
    <a href="/send">Envoyer un message</a>
</div>


{% endblock %}