{% extends 'base.html.twig' %}

{% block title %}Ads{% endblock %}

{% block body %}
    <h1>Ads</h1>

    <table class="table bg-secondary p-2" style="--bs-bg-opacity: .5;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ad.content }}</td>
            </tr>
            <tr>
            {% for image in ad.images %}
            <th>Image</th>
			<td><img src="/uploads/{{ image.imageName }}" alt="Image" width="200"></td>
			
		   {% endfor %}
           </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ad.createdAt ? ad.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ ad.updatedAt ? ad.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted_at</th>
                <td>{{ ad.deletedAt ? ad.deletedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Url_video</th>
                <td>{{ ad.urlVideo }}</td>
            </tr>
            <tr>
                <th>IsVisible</th>
                <td>{{ ad.isVisible ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ads_index') }}">back to list</a>

    <a href="{{ path('app_ads_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ads/_delete_form.html.twig') }}
{% endblock %}
