{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Messagerie</h1>
            <h2>{{ message.title }}</h2>
            <p>Messade de {{ message.sender.email}}</p>
            <p>{{ message.createdat|date }}</p>
            <div>{{message.message}}</div>
        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                Mes Dossiers
            </a>
            <a href="{{ path("app_recu") }}" class="btn btn-primary">Retour a la liste des messages</a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Dossiers</h2>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <a href="{{ path("app_message") }}" class="list-group-item list-group-item-action">Accueil</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path("app_recu") }}" class="list-group-item list-group-item-action active">Boite de
                            reception</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path("app_message") }}" class="list-group-item list-group-item-action">Messages
                            envoyés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}