{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Messagerie</h1>
            <h2>Message envoyés</h2>
            <p>Vous avez envoyés {{ app.user.sent|length }} messages.</p>
        </div>
        <div class="col-3">A</div>
        <div class="col-3">Sujet</div>
        <div class="col-3">Date</div>
        <div class="col-3">Actions</div>
        {% for message in app.user.sent %}

            {% if message.isread == 0 %}
            {% set text = "text-primary" %}
            {% else %}
            {% set text = "text-success fw-bold" %}
            {% endif %}

            <div class="col-3 {{ text }}">{{ message.receiver.email }}</div>
            <div class="col-3 {{ text }}"><a href="{{ path("app_message_read", {id: message.id})}}">{{ message.title }}</a></div>
            <div class="col-3 {{ text }}">{{ message.createdat|date }}</div>
            <div class="col-3 {{ text }}"><a href="{{ path("app_message_delete", {id: message.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill text-danger" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
              </svg>
              </a>
            </div>
        {% endfor %}

        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                Mes Dossiers
            </a>
            <a href="{{ path("app_send") }}" class="btn btn-primary">Envoyer un message</a>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Dossiers</h2>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <a href="{{ path("app_message") }}" class="list-group-item list-group-item-action">Accueil</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path("app_recu") }}" class="list-group-item list-group-item-action">Boite de
                            reception</a>
                    </div>
                    <div class="list-group">
                        <a href="{{ path("app_sended") }}" class="list-group-item list-group-item-action active">Messages
                            envoyés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}