<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
		<link
		rel="stylesheet" href="style.css">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% block navbar %}

			<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"></button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link mr-sm-2 text-white" type="button" href=" /">Accueil</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" type="button" href="/profil/{{ app.user.id }}">Profile</a>
							</li>
						</ul>
					{% endif %}
					{% if app.user == null %}
						<ul class="nav justify-content-end">
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="/register">S'Enregistrer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="/login">Se Connecter</a>
							</li>
						{% endif %}
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="/logout">Se déconnecter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="/ads">Annonces</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="/message">Messagerie</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-sm-2 text-white" type="button" href="{{ path('app_ads_new') }}">Créer une annonce</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODO') %}
							<li class="nav-item">
								<a class="nav-link mr-sm-2 ms-auto text-white" type="button" href="/admin">Administration</a>
							</li>
						{% endif %}
					</ul>


				</div>
			</nav>
		{% endblock %}
	</body>
	<body>
		{% for message in app.flashes("message")%}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button</button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" </button>></div>
			{% endfor %}
			{% block body %}{% endblock %}
		</body>
		{% block footer %}
			<footer class="bg-dark fixed-bottom">
				<p class="text-white text-center">© Promo Carbonne 2022 Simplon.co</p>
			</footer>
		{% endblock %}
	</body>

</html>
